---
import { useTranslations, type Locale } from "../i18n";
import Select_ from "../components/select/Select.tsx";
import { getRelativeLocaleUrl } from "astro:i18n";
import "@fontsource-variable/open-sans";

interface Props {
  openGraph: {
    title: string;
    url: string;
    description: string;
    image?: string;
  };
}

const locale = Astro.currentLocale as Locale;
const t = useTranslations(locale);

const isHebrew = locale === "he";

const isTagsPage = Astro.url.pathname.includes("tags");

const hebrewBio =
  "אני עמית פרידמן, מהנדס תוכנה מתל אביב. אני מתמחה בייעול וביזור מערכות, ממעבדות קטנות ועד פתרונות לחברות ענק. אני הופך מילות באז וראשי תיבות לתשתיות פרודקשן שאפשר לסמוך עליהן.";

const englishBio =
  "I'm Amit Friedman, an author and dev from Tel Aviv, Israel. I specialize in application scalability and performance, from small scale to large enterprise deployments. I turn buzzwords and acronyms into reliable production infrastructure.";

// Convert /en/slug -> slug
const slug = Astro.url.pathname.split("/").splice(2).join("/");

const { openGraph } = Astro.props;

const SITE_URL = import.meta.env.SITE;

const defaultOpenGraphImage = "/2x1.png";

const openGraphImage = SITE_URL + (openGraph?.image ?? defaultOpenGraphImage);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <!-- meta attributes source: https://tailwindcss.com/docs/responsive-design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content={openGraph.url} />
    <meta property="og:title" content={openGraph.title} />
    <meta property="og:description" content={openGraph.description} />
    <meta property="og:image" content={openGraphImage} />
    <meta property="og:type" content="article" />
    <title>Amit Friedman</title>
  </head>
  <body class="bg-bg-400 px-5 sm:px-[120px] lg:px-[20%]">
    <div class="flex flex-col justify-between h-full">
      <div>
        <a
          href={getRelativeLocaleUrl(locale, "/")}
          class="block font-extrabold text-2xl mb-[32px] mt-[42px] no-underline"
        >
          {t({ en: "Amit Friedman", he: "עמית פרידמן" })}
        </a>
        <div class="pb-5 sm:mt-9 flex justify-between">
          <div class="flex gap-x-8 items-center">
            <a
              href={getRelativeLocaleUrl(locale, "/")}
              class={`underline text-xl ${!isTagsPage && "font-bold"}`}
              >{t({ en: "Posts", he: "פוסטים" })}</a
            >
            <a
              href={getRelativeLocaleUrl(locale, "/tags")}
              class={`underline text-xl ${isTagsPage && "font-bold"}`}
              >{t({ en: "Tags", he: "קטגוריות" })}</a
            >
          </div>
          <Select_
            client:only="react"
            direction={isHebrew ? "rtl" : undefined}
            value={t({
              en: isHebrew ? "אנגלית" : "English",
              he: isHebrew ? "עברית" : "Hebrew",
            })}
            options={[
              {
                value: isHebrew ? "אנגלית" : "English",
                href: getRelativeLocaleUrl("en", slug),
              },
              {
                value: isHebrew ? "עברית" : "Hebrew",
                href: getRelativeLocaleUrl("he", slug),
              },
            ]}
          />
        </div>
        <slot />
      </div>
      <div class="mt-[100px] pb-[52px]">
        <div class="flex gap-x-5 items-center">
          <a
            href={getRelativeLocaleUrl(locale, "/")}
            class={`underline ${!isTagsPage && "font-bold"}`}
            >{t({ en: "Posts", he: "פוסטים" })}</a
          >
          <a
            href={getRelativeLocaleUrl(locale, "/tags")}
            class={`underline ${isTagsPage && "font-bold"}`}
            >{t({ en: "Tags", he: "קטגוריות" })}</a
          >
        </div>
        <div
          class="border-t-[#BFBFBF] border-t-[1.5px] border-dashed my-[48px]"
        >
        </div>
        <div class="flex gap-x-[52px] items-start">
          <div>
            {t({ en: englishBio, he: hebrewBio })}
          </div>
          <div class="flex flex-col gap-y-4 items-start sm:px-10">
            <a href="/" class="underline underline-offset"
              >{t({ en: "Linkedin", he: "לינקדאין" })}</a
            >
            <a href="/" class="underline underline-offset"
              >{t({ en: "GitHub", he: "גיטהאב" })}</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  * {
    color: #5b5b5b;
    font-family: "Open Sans Variable";
  }
  html[lang="he"] {
    direction: rtl;
  }
</style>
